<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CryptoBot.Properties.Settings>
            <setting name="APISecureKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APISecureSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialSetupCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckScheduledTime" serializeAs="String">
                <value>1</value>
            </setting>
        </CryptoBot.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CryptoBot.Properties.Settings>
            <setting name="APIBaseAddress" serializeAs="String">
                <value>https://bittrex.com/api</value>
            </setting>
        </CryptoBot.Properties.Settings>
    </applicationSettings>
</configuration>
